@charset "utf-8";
/* CSS Document */

body{
	background-image:url(lossy-page1-800px-Biblioteket._Hylla_med_b%C3%B6cker._Interi%C3%B6r,_detalj._Bokhylla._Schefferbiblioteket_-_Skoklosters_slott_-_86262.tif.jpg);
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
#storbox{
	background-color:#06F;
	width:80%;
	height:100%;
    position:absolute;
	margin-left:10%;
}																								
header{
	background-color:#963;
	width:100%;
	height:20%;
	overflow:auto;
}
img{
	width:350px;
}
nav{
	background-color:#FF0;
	width:100%;
	height:10%;
}
article{
	background-color:#FFF;
	width:70%;
	height:60%;
	float:right;
}
aside{
	background-color:#999;
	width:30%;
	height:60%;
	float:right;
}
footer{
	clear:right;
	background-color:#963;
	width:100%;
	height:10%;
	
}
ul{
	list-style: none;
	background-color:#444;
	text-align:center;
	padding:0;
	margin:0;
}
li{
	line-hight:40px;
	height:100%;
	width:25%;
	float:left;
}
